.rank h2{
    /* Font style */
    font-size: x-large;

    /* Margin and padding */
    margin: 0;
    padding: 0;
}

.rank h2:first-child{
    /* Font style */
    font-size: xx-large;
    
    /* Margin and padding */
    margin-top: 20px;
}