.logo{
    /* Margin and padding */
    margin-left: 20px;
    padding: 5px;

    /* Background */
    background-color: rgba(0, 0, 0, 0.185);

    /* Sizes */
    height: fit-content;
    width: fit-content;

    /* Border */
    border-radius: 20px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.185);
}

.logo img{
    width: 50px;
}