nav {
    /* Margin and padding */
    padding: 15px;

    /* Display styles */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* Overflow styles */
    overflow: hidden;

    /* Background */
    background-color: rgba(168, 168, 168, 0.226);
}