@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  /* Padding and margin style*/
  margin: 0;
  padding: 0;

  /* Background style */
  background: linear-gradient(90deg, rgb(78, 252, 223) 0%, rgb(128, 255, 128) 100%);

  /* Font style */
  font-family: 'Varela Round';
}

button{
  /* Cursor */
  cursor: pointer;
}